[Unit]
Description=Renew MAD HTTPS certificate
[Service]
Type=oneshot
ExecStart=/opt/mad-acme/bin/certbot renew --quiet --cert-name monitor.mad-parfumeur.com
